body {
    margin: 0;
    background: url('http://i.kinja-img.com/gawker-media/image/upload/s--yXfAP2SU--/c_scale,fl_progressive,q_80,w_800/1208910649433666086.jpg');
    background-size: 1440px 800px;
    background-repeat:no-repeat;
    display: compact;
    font: 13px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
}