<template name="signup">
        <div class="form-group col-md-4 col-md-offset-4">
        <label class="control-label" for="inputLarge">Email</label>
        <input class="form-control input-lg" type="text" id="email">

        <label class="control-label" for="inputLarge">Password</label>
        <input class="form-control input-lg" type="text" id="password">

        <label class="control-label" for="inputLarge">Phone</label>
        <input class="form-control input-lg" type="text" id="mobile">

        <label class="control-label" for="inputLarge">University Website</label>
        <input class="form-control input-lg" type="text" id="website">

            <a href="#" class="btn btn-success" id="signup">Signup</a>
        </div>
</template>