<template name="signup">
    <div class="form-group col-md-4 col-md-offset-4">
        <label class="control-label" for="inputLarge" style="color: white">Email</label>
        <input class="form-control input-lg" type="text" id="email" style="color: white">

        <label class="control-label" for="inputLarge" style="color: white">Password</label>
        <input class="form-control input-lg" type="text" id="password" style="color: white">

        <label class="control-label" for="inputLarge" style="color: white">Phone</label>
        <input class="form-control input-lg" type="text" id="mobile" style="color: white">

        <label class="control-label" for="inputLarge" style="color: white">University Website</label>
        <input class="form-control input-lg" type="text" id="website" style="color: white">

        <a href="#" class="btn btn-success" id="signup">Signup</a>
        <h5 id="signuperr"></h5>
    </div>
</template>
