<template name="login">
    <div class="form-group col-md-8 col-md-offset-2">
        <label class="control-label" for="inputLarge">Username</label>
        <input class="form-control input-lg" type="text" id="useremail" autocomplete="off" style="color: white">
        <label class="control-label" for="inputLarge">Password</label>
        <input type="password" class="form-control input-lg" id='userpassword' autocomplete="off" style="color: white">
        <a href="#" class="btn btn-success" id="loginButton">Login</a>
        <h5 id="loginerror"></h5>
    </div>
</template>