<template name="navbar">
    <nav>
        <a href="/">MRI online</a> |
        {{#if isAdmin}}
            <a href="/manageAccounts">Manage</a> |
        {{/if}}
        {{#if isValidated}}
            <a href="/verifyData/">Verify</a> |
        {{/if}}
        {{#if authenticated}}
            <a href="/fileUploader">Upload</a> |
            <a id="logoutUser">Logout</a> |
        {{else}}
            <a href="/signup">signup</a> |
            <a href="/login">Login</a> |
        {{/if}}
    </nav>
</template>