<template name="navbar">
    <div class="container-fluid">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a id="navhead" class="navbar-brand nav-head" href="/" style="font-size: xx-large">MRIplus</a>
                </div>

                <ul class="nav navbar-nav navbar-right">
                    {{#if isAdmin}}
                        <li><a href="/manageAccounts" class="navline">Manage</a></li>
                    {{/if}}
                    {{#if isValidated}}
                        <li><a href="/verifyData/" class="navline">Verify</a></li>
                    {{/if}}
                    {{#if authenticated}}
                        <li><a href="/dataUpload" class="navline">Upload</a></li>
                        <li><a id="logoutUser" class="navline">Logout</a></li>
                    {{else}}
                        <li><a href="/signup" class="navline">signup</a></li>
                        <li><a href="/login" class="navline">Login</a></li>
                    {{/if}}
                </ul>
            </div>
        </nav>
    </div>
</template>