<template name="verifyData">
    <a href="#" class="btn btn-primary" id="verify">verify</a>
    <div id="verifyingDiv">
        <img id="verifyIm1" class="col-md-5">
        <img id="verifyIm2" class="col-md-5">
        <a href="#" class="btn btn-success" id="correct" style="width: 120px">correct</a>
        <a href="#" class="btn btn-danger" id="incorrect" style="width: 120px">incorrect</a>
        <a href="#" class="btn btn-warning" id="skip" style="width: 120px">skip</a>
    </div>

</template>